*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
    --Primary-color:#FFFFFD;
    --primary-color2:#324B4E;
    --text-color:#8DC2C8;
    --text-color2:#ffff;
    --text-color3:#000;
    --secondary-color:#283C3F;
    --secondary-color2:#FAFAF8;
    --font-family-main: "Montserrat", sans-serif;
    --mobile-padding: 0.1rem 1rem;
    --tablet-padding:0.2rem 1.5rem;
    --desktop-padding: 0.5rem 3.5rem;
    --time-font: "Cursed Timer ULiL", sans-serif;
  }
  body{
    max-width: 100vw;
    height: auto;
    background-color: var(--Primary-color);
    margin: 0 auto;
    font-family: var(--font-family-main);
    overflow-x: hidden;
    padding: var(--mobile-padding);
  }
  img{
    display: block;
    max-width: 100%;
  }
  header{
    padding: var(--mobile-padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Primary-color);
    color: var(--text-color3);
    gap: 3rem;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
  }
  li:hover a {
    color: var(--text-color);
  }
  nav a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  nav, .nav-icn{
    display: none;
  }
  .menu-toggle{
    display: block;
  }
  .main-logo{
    display: flex;
    position: relative;
    gap: 0.5rem;
    line-height: 1.1rem;
    padding: 0.9rem;
  }
  .main-logo h1 {
    font-size: 2rem;
    color: var(--text-color);
  }
  .main-logo span {
    color: var(--secondary-color);
  }
  .main-logo img{
    max-width: 3rem;
    width: auto;
    height: auto;
    object-fit: none;
  }

  @media (min-width: 1200px) {
    body{
        font-size: 1.25rem;
        padding: 0;
   }
   /* Header section */
    nav, .nav-icn{
        display: flex;
   }
    .nav-icn{
        gap: 2rem;
   }
    header {
        padding: var(--desktop-padding);
        border-bottom: 2px solid var(--text-color);
        display: flex;
        align-items: center;
   }
    .nav-icn {
        gap: 2rem;
   }
    .menu-toggle{
        display: none;
   }
}











































@media (min-width: 1200px) {



















  /* footer */
  footer{
    background-color: var(--secondary-color);
    flex-wrap: wrap;
    color: var(--text-color2);
  }
  .foot-cont{
      padding: 4rem 2rem;
    display: flex;
    margin: auto;
    font-size: 1rem;
    font-weight: 300;
    align-items: center;
    justify-content: space-around;
  }
  footer ul{
    list-style: none;
  }
  footer h3{
    font-size: 1.3rem;
    font-weight: 500;
  }
  .news{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .news h3:first-child{
    letter-spacing: 0.1rem;
  }
  .inner-news{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .mail input{
  padding: 1rem 1rem;
  width: 17rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  border: 1PX solid var(--text-color2);
  color: var(--text-color2);
  font-size: 1rem;
  }
  .mail input::placeholder {
    color: var(--text-color2);
  }

  .mail input:valid {
    color: var(--text-color2); 
  }

  .mail{
    display: flex;
    align-items: center;
  }
  .mail-icn{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--text-color2);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center ;
    border-radius: 50%;
    position: relative;
    transform: translateX(-3rem);
    cursor: pointer;
  }

  .mail-icn i:hover {
    transform: rotate(-50deg) translateY(2px); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }

  .all-sol{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    transform: translateY(-1rem);
  }
  .facebook,
  .instagram,
  .x {

      width: 4.3rem; 
      height: 4.3rem; 
      background-color: var(--text-color2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .facebook i,
  .instagram i,
  .x i {
      font-size: 2.6rem;
      color: var(--secondary-color);
      position: relative;
      transform: translateY(0.3rem);
  }

  .impo-links {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .impo-links h3{
    margin-bottom: 3rem;
    font-size: 1.2rem;
  color: var(--text-color2);
  position: relative;
  /* transform: translateY(-2rem); */
  }

  .impo-links ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
  }

  .impo-links li {
    margin-bottom: 0.7rem;
  }

  .impo-links a {
    text-decoration: none;
  color: var(--text-color2);
    transition: color 0.3s;
    font-size: 0.9rem;
    font-weight: 100;
  }

  .impo-links a:hover {
  color: var(--text-color);
  }

  .copyright{
    position: relative;
    font-size: 0.9rem;
    font-weight: 200;
    transform: translate(66.5rem);
    bottom: 4rem;
  }

}



/* Mobile container utility class: */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 2px solid red; */
  }
  /* xs */
  @media (min-width: 475px) {
    .container {
        max-width: 475px;
   }
  }
  /* sm */
  @media (min-width: 640px) {
    .container {
        max-width: 640px;
   }
  }
  /* md */
  @media (min-width: 768px) {
    .container {
        max-width: 768px;
   }
  }
  /* lg */
  @media (min-width: 1024px) {
    .container {
        max-width: 1024px;
   }
  }
  /* xl */
  @media (min-width: 1280px) {
    .container {
        max-width: 1280px;
   }
  }
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
        max-width: 1536px;
   }
  }
  