*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --Primary-color:#FFFFFD;
  --primary-color2:#324B4E;
  --text-color:#8DC2C8;
  --text-color2:#ffff;
  --text-color3:#000;
  --secondary-color:#283C3F;
  --secondary-color2:#FAFAF8;
  --font-family-main: "Montserrat", sans-serif;
  --mobile-padding: 0.6rem 1rem;
  --tablet-padding:0.2rem 1.5rem;
  --desktop-padding: 0.5rem 3.5rem;
  --time-font: "Cursed Timer ULiL", sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  height: auto;
  background-color: var(--Primary-color);
  margin: 0 auto;
  font-family: var(--font-family-main);
  overflow: hidden;
  width: 100%;
}

/* first section */
img {
  display: block;
  max-width: 100%;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Primary-color);
  color: var(--text-color3);
  gap: 8rem;
  box-shadow: 2px 2px 10px 0.2px rgba(141, 194, 200, 0.5);
  width: 100%;
  margin: 0 auto;
}

/* nav section */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 3rem;
  padding: 2rem 0;
  margin: 0;
}

nav {
  position: absolute;
  transform: translateX(-1.5rem);
  width: 100%;
  background-color: var(--Primary-color);
  z-index: 1000;
  top: 5rem;
}

.nav-list {
  display: none;
  backdrop-filter: blur(var(--blur-radius));
  position: absolute;
  flex-direction: column;
  align-items: center;
  background-color: var(--Primary-color);
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  left: 0;
  width: 100%;
  top: 14.5%;
  z-index: 1000;
  padding-bottom: 13rem;
  transition: max-height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  margin: 0;
}

.nav-list.active {
  display: flex;
}

nav li a {
  text-decoration: none;
  color: var(--primary-color2);
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.nav-icn {
  display: none;
}

.menu-toggle {
  display: block;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  transition: ease-in;
}

.menu-toggle1 {
  display: none;
}

.main-logo {
  display: flex;
  position: relative;
  gap: 0.5rem;
  line-height: 0.8rem;
  padding: 0.5rem;
}

.main-logo h1 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.main-logo span {
  color: var(--secondary-color);
}

.main-logo img {
  display: none;
}


/* first section */
.img-section {
  max-width: 100%;
  position: relative;
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
.background{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.9;
  pointer-events: none;
}
.inner-ff {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 90%;
  transform: translateY(6rem);
  text-align: center;
  z-index: 1;
}
.inner-ff h1{
  font-size: 1.5rem;
}
.inner-ff p{
  font-size: 0.7rem;
  font-weight: 300;
}


.a,
.b {
  position: absolute;
  display: none;
}

.b {
  transform: translateX(25rem);
}

.a {
  transform: translateY(3rem);
  max-height: 5rem;
}

.inner-ff h1,
.inner-ff p {
  color: var(--text-color2);
}

.inner-ff-input {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  left: 1.2rem;
}

.inner-ff-input input {
  max-width: 200px;
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  border-radius: 2rem;
  border: 1px solid var(--text-color2);
}
.inner-ff-input input::placeholder{
  font-size: 0.7rem;
}
 .ic {
   width: 1.8rem;
   height: 1.8rem;
   background-color: var(--text-color);
   color: var(--text-color2);
   font-size: 1rem;
   display: flex;
   align-items: center;
   border-radius: 2rem;
   text-align: center;
   transform: translateX(-3rem);
 }

 .ic i {
   margin: 0 auto;
 }

 .inner-ff-input ::placeholder {
   color: var(--text-color2);
   font-size: 1rem;
 }

 .inner-ff-input input:focus {
   color: var(--text-color2);
 }


/* third section */

.sell-market{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color2);
}

 .header-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
 }

 .my-list{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
 }
 .my-list::-webkit-scrollbar {
   display: none;
 }
 .my-list li{
    list-style: none;
    flex: 0 0 200px;
    padding: 1rem;
    scroll-snap-align: center;
    text-align: center;
    width: 100%;
 }
 .arr-fr,
 .arr-bk {
   cursor: pointer;
   background-color: var(--secondary-color);
   padding: 1rem 0.5rem;
 }
 .arr-fr svg,
 .arr-bk svg {
  color: var(--text-color2);
 }

 .global-market{
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 auto;
    padding: 1rem 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
      width: 100%;
 }
 #market1,
 #market2,
 #market3,
 #market4,
 #market5 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    margin: 0 auto;
    justify-content: center;
    flex: 1 1 100%;
 }

 #market1:nth-child(n+6){
  display: none;
 }

 /* #market1, */
 #market2,
 #market3,
 #market4,
 #market5{
   display: none;
 }
 .market {
   flex-grow: 1;
   box-sizing: border-box;
 }
 .food {
   width: 10rem;
   height: 15rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

 }

 .food-pic {
   height: 40%;
   position: relative;
      scroll-snap-align: center;
 }

 .food-pic img {
   overflow: hidden;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
 }

 .food-info {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 60%;
   gap: 0.7rem;
   padding: 0.5rem 0.5rem;
   background-color: var(--secondary-color);
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
 }
 .food-info h6 {
   font-size: 0.8rem;
   font-weight: 800;
   color: var(--text-color);
   width: 80%;
 }

 .food-info p {
   font-size: 0.6rem;
   font-weight: 300;
   color: var(--text-color2);
 }

  .my-list li.active {
    color: var(--text-color);
    font-weight: 600;
  }

 .price {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 0.5rem;
   margin: 0 auto;
 }

 .price button {
   padding: 0.5rem 1rem;
   background-color: transparent;
   color: var(--text-color2);
   font-size: 0.6rem;
   border: 2px solid var(--Primary-color);
   border-radius: 0.3rem;
 }
 .price h3 {
   color: var(--text-color2);
   font-weight: 600;
   font-size: 0.9rem;
 }

 .nxr{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
 }

 .nxr button{
   padding: 0.5rem 1rem;
   background-color: transparent;
   color: var(--text-color2);
   font-size: 0.7rem;
   border: 2px solid var(--Primary-color);
   border-radius: 0.3rem;
 }
.nxr p::first-letter{
  color: var(--text-color2);
  font-weight: 700;
}







 /* footer */
 footer {
   background-color: var(--secondary-color);
   flex-wrap: wrap;
   color: var(--text-color2);
 }

 .foot-cont {
   padding: 4rem 3.5rem;
   display: flex;
   flex-direction: column;
   margin: auto;
   font-size: 1rem;
   font-weight: 300;
   justify-content: space-around;
   gap: 2rem;
 }

 footer ul {
   list-style: none;
 }

 footer h3 {
   font-size: 1rem;
   font-weight: 800;
 }

 .news {
   display: flex;
   flex-direction: column;
   gap: 2rem;
 }

 .news h3:first-child {
   letter-spacing: 0.1rem;
 }

 .inner-news {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
 }

 .mail input {
   padding: 0.7rem 1rem;
   width: 25rem;
   border-radius: 1.5rem;
   background-color: var(--secondary-color);
   border: 1px solid var(--text-color2);
   color: var(--text-color2);
   font-size: 1rem;
 }

 .mail input::placeholder {
   color: var(--text-color2);
 }

 .mail input:valid {
   color: var(--text-color2);
 }

 .mail {
   display: flex;
   align-items: center;
 }

 .mail-icn {
   max-width: 3rem;
   max-height: 3rem;
   background-color: var(--text-color2);
   color: var(--secondary-color);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   position: relative;
   transform: translateX(-2.5rem);
   cursor: pointer;
 }

 .mail-icn i {
   font-size: 1rem;
 }

 .mail-icn i:hover {
   transform: rotate(-50deg) translateY(2px);
   transition: transform 0.3s, box-shadow 0.3s;
 }

 .all-sol {
   display: flex;
   gap: 1rem;
   align-items: center;
   position: relative;
   transform: translateY(-1rem);
 }

 .facebook,
 .instagram,
 .x {
   width: 3rem;
   height: 3rem;
   background-color: var(--text-color2);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .facebook i,
 .instagram i,
 .x i {
   font-size: 2rem;
   color: var(--secondary-color);
   position: relative;
   transform: translateY(0.3rem);
 }

 .impo-links {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* gap: 0.5rem; */
 }

 .impo-links h3 {
   margin-bottom: 3rem;
   font-size: 1rem;
   color: var(--text-color2);
   position: relative;
 }

 .impo-links ul {
   list-style: none;
   padding: 0;
   margin-top: 1rem;
 }

 .impo-links li {
   margin-bottom: 0.5rem;
 }

 .impo-links a {
   text-decoration: none;
   color: var(--text-color2);
   transition: color 0.3s;
   font-size: 0.9rem;
   font-weight: 100;
 }

 .impo-links a:hover {
   color: var(--text-color);
 }

 .copyright {
   position: relative;
   font-size: 0.9rem;
   font-weight: 200;
   bottom: 4rem;
   margin: 0 auto;
   width: 70%;
   text-align: center;
 }




































































/* Mobile container utility class: */
/* .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid red;
  } */
  /* xs */
  @media (min-width: 475px) {
    /* .container {
        max-width: 475px;
   } */
  }
  /* sm */
  @media (min-width: 640px) {
    /* .container {
        max-width: 640px;
   } */
  }
  /* md */
  @media (min-width: 768px) {
    /* .container {
        max-width: 768px;
   } */
  }
  /* lg */
  @media (min-width: 1024px) {
    /* .container {
        max-width: 1024px;
   } */
  }
  /* xl */
  @media (min-width: 1280px) {
    /* .container {
        max-width: 1280px;
   } */

  body {
    font-size: 1.25rem;
    padding: 0;
  }

  /* Header section */
  nav,
  .nav-icn {
    display: flex;
  }

  nav {
    position: relative;
    width: 25%;
    top: 0;
  }

  .nav-list {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  header {
    padding: 1.2rem 1rem;
    box-shadow: 2px 2px 10px 0.2px rgba(141, 194, 200, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
  }

  li:hover a {
    color: var(--text-color);
  }

  nav a {
    color: var(--secondary-color);
    text-decoration: none;
  }

  .nav-icn {
    gap: 2.5rem;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle1 {
    display: none;
  }

  /* first section */
  .img-section {
    max-width: 100%;
    position: relative;
    height: 31rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
  }

  .background {
    position: absolute;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
  }

  .grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.9;
    pointer-events: none;
  }

  .inner-ff {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 50%;
    transform: translateY(10rem);
    text-align: center;
    z-index: 2;
  }

  .a,
  .b {
    position: absolute;
  }

  .b {
    transform: translateX(25rem);
  }

  .a {
    transform: translateY(3rem);
  }

  .inner-ff h1,
  .inner-ff p {
    color: var(--text-color2);
  }

  .inner-ff h1 {
    font-size: 2.5rem;
    /* Increased font size */
  }

  .inner-ff p {
    font-size: 1.25rem;
    /* Increased font size */
    font-weight: 300;
  }

  .inner-ff-input {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

.inner-ff-input input {
  width: 60rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border-radius: 2rem;
  border: 1px solid var(--text-color2);
  font-size: 1rem;
}

.inner-ff-input input::placeholder {
  font-size: 1rem;
}

.ic {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--text-color);
  color: var(--text-color2);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  text-align: center;
  transform: translateX(-3rem);
}

.ic i {
  margin: 0 auto;
}

.inner-ff-input ::placeholder {
  color: var(--text-color2);
  font-size: 1rem;
  /* Increased font size */
}

  .inner-ff-input input:focus {
    color: var(--text-color2);
  }

  /* second part */

  .sell-market {
    background-color: var(--primary-color2);
    padding: 2rem 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }


.arr-fr,
.arr-bk{
  display: none;
}
  .global-market {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 auto;
    padding: 1rem 0;
        overflow: hidden;
  }

  .header-c {
    width: 100% !important;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-c .my-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .market {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
  }


  .my-list {
    width: 100% !important;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  .my-list li {
    padding: 0.6rem 1rem;
    position: relative;
    cursor: pointer;
    color: var(--text-color2);
  }

  .my-list li a {
    font-size: 1rem;
  }

  .my-list li.active {
    color: var(--text-color);
    font-weight: 600;
  }

  .my-list li::after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .my-list li:first-child::after {
    content: none;
  }

  .nxr{
    display: none;
  }

  .my-list li:hover {
    color: var(--text-color);
  }

  #market1,
  #market2,
  #market3,
  #market4,
  #market5 {
    flex: 1 1 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    align-items: center;
    min-width: 100%;
    height: auto;
    position: relative;
    justify-items: center;
    row-gap: 3rem;
  }

  .food {
    width: 19rem;
    height: 26rem;
  }

  .food-pic {
    height: 50%;
    position: relative;
  }

  .food-pic img {
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .food-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 1rem;
    padding: 2rem 1.5rem;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .food-info h6 {
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
    width: 80%;
  }

  .food-info p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--text-color2);
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }

  .price button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--text-color2);
    font-size: 1rem;
    border: 2px solid var(--Primary-color);
    border-radius: 0.3rem;
  }

  .price button:hover {
    background-color: var(--text-color);
    color: var(--text-color3);
    border: 2px solid var(--text-color);
  }

  .price h3 {
    color: var(--text-color2);
    font-weight: 600;
  }


  /* footer */
footer {
  background-color: var(--secondary-color);
  flex-wrap: wrap;
  color: var(--text-color2);
}

.foot-cont {
  padding: 4rem 2rem;
  display: flex;
  margin: auto;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  justify-content: space-around;
}

footer ul {
  list-style: none;
}

footer h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news h3:first-child {
  letter-spacing: 0.1rem;
}

.inner-news {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mail input {
  padding: 1rem 1rem;
  width: 17rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  border: 1PX solid var(--text-color2);
  color: var(--text-color2);
  font-size: 1rem;
}

.mail input::placeholder {
  color: var(--text-color2);
}

.mail input:valid {
  color: var(--text-color2);
}

.mail {
  display: flex;
  align-items: center;
}

.mail-icn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--text-color2);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  transform: translateX(-3rem);
  cursor: pointer;
}

.mail-icn i:hover {
  transform: rotate(-50deg) translateY(2px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.all-sol {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  transform: translateY(-1rem);
}

.facebook,
.instagram,
.x {

  width: 4.3rem;
  height: 4.3rem;
  background-color: var(--text-color2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook i,
.instagram i,
.x i {
  font-size: 2.6rem;
  color: var(--secondary-color);
  position: relative;
  transform: translateY(0.3rem);
}

.impo-links {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.impo-links h3 {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  color: var(--text-color2);
  position: relative;
  /* transform: translateY(-2rem); */
}

.impo-links ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.impo-links li {
  margin-bottom: 0.7rem;
}

.impo-links a {
  text-decoration: none;
  color: var(--text-color2);
  transition: color 0.3s;
  font-size: 0.9rem;
  font-weight: 100;
}

.impo-links a:hover {
  color: var(--text-color);
}

.copyright {
  position: relative;
  font-size: 0.9rem;
  font-weight: 200;
  transform: translate(66.5rem);
  bottom: 4rem;
  color: var(--text-color2);
}

}

  /* 2xl */
  @media (min-width: 1536px) {
    /* .container {
        max-width: 1536px;
   } */
  }
  